{
    "openapi": "3.0.0",
    "info": {
        "description": "this is swagger for a code challenge",
        "version": "1.0.0",
        "title": "crypto challenge",
        "contact": {
            "email": "jalalianmohsen@gmail.com"
        }
    },
    "tags": [
        {
            "name": "orders",
            "description": "orders endpoints"
        }
    ],
    "paths": {
        "/orders/": {
            "get": {
                "tags": [
                    "orders"
                ],
                "description": "return an order",
                "parameters": [
                    {
                        "name": "tracking_code",
                        "in": "query",
                        "description": "order tracking code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                            }
                        }
                    }
                }
            }
        },
        "/orders": {
            "post": {
                "tags": [
                    "orders"
                ],
                "summary": "store an order ",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Order"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "servers": [
        {
            "url": "http://back.crypto/api"
        }
    ],
    "components": {
        "schemas": {
            "Order": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "petId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "source_currency": {
                        "type": "string"
                    },
                    "destination_currency": {
                        "type": "string"
                    },
                    "amount": {
                        "type": "string"
                    }
                }
            }
        }
    }
}
